footer {
    height: 40vh;
    width: 100vw;
    background-color: #cee2b1;

    #wapp {
        width: 32px;
        height: 32px;
    }

    #medPag {
        
        width: 290px;
        height: 120px;
    }
   
   div {

        div {
                div {
                    div{
                        ul {
                            list-style: none;
                            margin-top: 20px;
                            a{
                                text-decoration: none;
                                color: fuchsia;
                            }
                        }
                    }
                }
        }
   }

   .fs-3 {
    font-family: "mandalitos";

   }
}