main {
    height: 150vh;
    width: 100vw;
    background-color: #d2b3d4;

    

    fieldset {
        text-align: center;
        margin-top: 100px;
    
    }

    label {
        font-family: "mandalitos";
        color: yellowgreen;
    
    }
    
    legend {
        font-family: "mandalitos";
        font-size: 45px;
        text-decoration: underline;
        color: lightcoral;
        
    }

    p{
        font-family: "mandalitos";
    font-size: xx-large;
    text-align: center;
    align-items: center;
    margin-top: 90px;
    padding: 35px;
    
    }
    
    h1 {
        text-align: center;
        font-family: "mandalitos";
        font-size: 50px;
        text-decoration-line: underline;
        
    }

    #transition {
        width: 500px;
        height: 200px;
        background-color:transparent
        
      } 
      #transition:hover {
         padding: 20px;
         transform: rotateX(360deg);
      } 
    
      
    #textcomp {
        font-family: "mandalitos";
    }
    
    #textcomp2 {
        font-family: "mandalitos";
        
    }
    
    
    
    .imgTamaño {
            width: 100vw;
            height: 150vh;
    }
    
    
    
    .caja{
    
        display: block;
        width: 30% ;
        float: right;
        padding: 5em;
    
    }
    
    .caja1{
    
        display: block;
        width: 30% ;
        float: right;
        padding: 5em;
    
    }
    
}
